{% extends "review/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<body>
	<div id="layout-content">
		<header>
			<a href="{% url 'index' %}"><h1>Blaze Notes</h1></a>
			<nav>
				<div id="nav-right">
					<a href="{% url 'login' %}">Already have an account? </a>
				</div>
			</nav>
		</header>

		<div class="middle">
			<form method="POST">
				{% csrf_token %}
				<fieldset>
					<legend>Join Today</legend>
					{{ form|crispy }}
				</fieldset>
				<br>
				<div>
					<button type="submit">Sign Up</button>
				</div>
			</form>
		</div>
		<footer>Created by Jon McDowell</footer>
	</div>
</body>
{% endblock content %}
