html, body {
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: rgba(36, 58, 94, 1);
    background-attachment: fixed;
    background-color: #243A5E;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23263d64' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23274069' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%2329446f' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%232a4774' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%232C4A7A' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%2328436d' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23243c61' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23203554' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%231c2d48' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%2318263C' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    /* background by SVGBackgrounds.com */
}

.unsaturated {
    background-color: rgba(44, 74, 122, .8);
}

.homepage-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    height: 100%;
    z-index: 1;
}

.overlay {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    display: block;
    z-index: -1;
}
  
#layout-content {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        'header'
        'middle'
        'footer';
    justify-content: center;
}

#layout-content > header {
    grid-area: header;
    background-color: rgba(24, 38, 60, .8);
    z-index: 1;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: baseline;
    justify-content: space-between;
}

nav {
    float: right;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

#nav-right > *{
    display: inline;
    margin-left: 30px;
} 

#layout-content > .middle {
    grid-area: middle;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1600px);
    justify-self: center;
    grid-template-areas: 
        "left"
        "review"
        "right";
    overflow-y: auto;
}

#review {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    box-sizing: border-box;
}

.middle > * {
    margin: 20px;
}

#layout-content > footer {
grid-area: footer;
background-color: rgba(24, 38, 60, .8);
display: flex;
padding: 20px;
justify-content: flex-end;
box-sizing: border-box;
z-index: 1;
}

/*creates and positions the flip card*/
.flip-card {
    background: transparent;
    width: 420px;
    height: 420px;
    perspective: 1000px;
    margin: 20px;
    box-sizing: border-box;
}

/*creates the transformation rules?*/
.flip-card-inner {
    position: relative;
    background: transparent;
    width: 100%;
    height: auto;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

/*defines the first flip*/
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/*hides the back side of the card when transforming so the other side is shown*/
.flip-card-front, .flip-card-back {
    position: absolute;
    background: transparent;
    width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    background: transparent;
    color: black;
}

.flip-card-back {
    background: transparent;
    color: black;
    transform: rotateY(180deg);
}

.content {
    width: 100%;
    height: auto;
    margin: 0px;
    border: 0px;
    padding: 0px;
    border: 10px solid rgba(32, 32, 32, 1);
    border-radius: 20px;
    box-sizing: border-box;
}

.answer {
    width: 100%;
    height: auto;
    margin: 0px;
    border: 0px;
    padding: 0px;
    border: 10px solid rgba(50, 119, 188, 1);
    border-radius: 20px;
    box-sizing: border-box;
}

#selected-concept-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    overflow-y: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 100px, 1fr;
    grid-template-areas: "top" "selection";
    background: rgba(24, 38, 60, 1);
    background-image: linear-gradient(0deg, RGBA(36, 58, 94, .3) 0%, RGBA(36, 58, 94, 1) 35%, rgba(24, 38, 60, 1) 100%);
    opacity: .98;
    z-index: 2;
}

#collapse-hint {
    grid-area: top;
    align-self: end;
    justify-self: center;
    color: white;
}

#selected-concept {
    grid-area: selection;
    display: flex;
    justify-content: center;
    align-content: start;
    flex-direction: row;
    flex-wrap: wrap;
}

#selected-question, #selected-key {
    width: 420px;
    height: 420px;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

#selected-question {
    border: 10px solid rgba(32, 32, 32, 1);
}

#selected-key {
    border: 10px solid rgba(50, 119, 188, 1);
}

.review-links {
    text-align: center;
}

.review-links:hover{
    color: orange;
    cursor: pointer;
}

h1, h2, p, a {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    text-decoration: none;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
    font-weight: normal;
}

p, .review-links {
    font-size: 16px;
}

a:link{
    font-size: 24px;
    color: white;
}

a:visited {
    color: white;
}

a:hover{
    color: orange;
    cursor: pointer;
}

#topic-menu {
    position: relative;
    fill: white;
}

#topic-menu:hover {
    color: orange;
    fill: orange;
    cursor: pointer;
}

#arrow {
    transition: transform .6s;
    height: 16px;
    width: 16px;
}

#topic-menu.open > #arrow {
    transform: rotate(-270deg);
} 

/* Stops hover inheritance for children of topic-menu */
#topic-menu:hover > *{
    color: white;
}

#drop-menu {
    display: none;
    position: absolute;
    left: 0;
    width: 300px;
    height: 70vh;
    margin-top: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    border: 4px solid rgba(32, 32, 32, 1);
    border-radius: 20px;
    background-color: rgba(50, 119, 188, 1);
    z-index: 1;
    animation: grow-diagonal .3s ease;
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
}

#drop-menu > *{
    margin: 5px 20px 0px 20px;
}

#drop-menu > :first-child {
	margin-top: 10px;
    margin-bottom: 10px;
}

#fire-icon {
    width: 160px;
    float: left;
}

::-webkit-scrollbar {
    background-color: transparent;
    border-radius: 20px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgba(24, 38, 60, .95);
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

::-webkit-scrollbar-track-piece:start {
    margin-top: 40px;
}

::-webkit-scrollbar-track-piece:end {
    margin-bottom: 40px;
}

.info, .success, .warning, .error {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
}

.info {
    color: #059;
    background-color: #BEF;
}

.success {
    color: #270;
    background-color: #DFF2BF;
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
}

@keyframes grow-diagonal {
    0% {
        transform: scaleX(0) scaleY(0);
    }

    80% {
        transform: scaleX(1.1) scaleY(1.1);
    }

    100% {
        transform: scaleX(1) scaleY(1);
    }
}

@media screen and (max-width:600px) {

    #review {
        justify-content: center;
    }

    #layout-content > header {
        padding: 20px;
    }

    #layout-content > footer {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }
    
    h2, a:link {
        font-size: 16px;
    }
    
    #arrow {
        height: 11px;
        width: 11px;
    }

    p, .review-links {
        font-size: 14px;
    }

    .flip-card, #selected-question, #selected-key  {
        width: 80vw;
        height: 80vw;
        margin: 0px 0px 20px 0px;
    }

    #collapse-hint {
        align-content: center;
    }

    ::-webkit-scrollbar-track-piece:start {
        margin-top: 20px;
    }
    
    ::-webkit-scrollbar-track-piece:end {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 800px) and (min-width: 601px){

    h1 {
        font-size: 28px;
    }

    h2, a:link {
        font-size: 20px;
    }
	
	#arrow {
        height: 14px;
        width: 14px;
    }


    p, .review-links {
        font-size: 15px;
    }

    #collapse-hint {
        align-content: center;
    }

    #review {
        justify-content: center;
    }
}
